
<div class='jumbotron jumbotron-fluid text-center'>
  <h1 class='text-center' style='display:inline'>
      Career Commander
  </h1>
  <img src='images/businessman-arrow.png' class='.img-fluid' id='mainLogo' alt='business man with suitcase'
    style='display:inline'
    width='20%'
    height='20%'
  />
</div>


