<!-- stored user applications -->

<!-- Add a new user application -->
<button
  onclick="location.href='/application_submission'"
  type='button'
  class='btn-primary mt-2 mb-2'
>
  Add an Application
</button>