 <div class='container-fluid p-5'>
  <h2 class="text-center"> Application </h3>
  <div class='row mt-4 mb-4'>
   <!-- Position Location --> 
   <div class='col-md-3 col-sm-6 col-xs-12'>
      <div class='form-group text-center'>
        <label for='location'>Location</label>
        <input
          type='text'
          class='form-control'
          id='location-input'
          placeholder=''
        />
      </div>
    </div>
    <!-- Position Name --> 
   <div class='col-md-3 col-sm-6 col-xs-12'>
      <div class='form-group text-center'>
        <label for='position'>Position</label>
        <input
          type='text'
          class='form-control'
          id='position-input'
          placeholder=''
        />
      </div>
   </div>
   <!-- Company Name -->
    <div class='col-md-3 col-sm-6 col-xs-12'>
      <div class='form-group text-center'>
        <label for='company'>Company</label>
        <input
          type='text'
          class='form-control'
          id='company-input'
          placeholder=''
        />
      </div>
    </div>
    <!-- Position Closing Date -->
    <div class='col-md-3 col-sm-6 col-xs-12'>
      <form method='post'>
        <div class='form-group text-center'> <!-- Date input -->
          <label class='control-label' for='date'>Closing Date</label>
          <input class='form-control' id='closing_date' name='date' placeholder='MM/DD/YYYY' type='text'/>
        </div>
      </form>
    </div>
  <!-- Position Description -->
  <div class='form-group mt-4'>
    <label for='position_description'>Position Description</label>
    <textarea
      class='form-control form-control-lg'
      id='position_description-input'
      rows='2'
    ></textarea>
  </div>
  <h4 class='text-center mt-4 mb-4'> Hiring Manger</h4>
  <div class='row'>
  <!-- Hiring Manager Name --> 
   <div class='col-md-4 col-sm-6 col-xs-12'>
      <div class='form-group text-center'>
        <label for='hiring_manager_name'>Name</label>
        <input
          type='text'
          class='form-control'
          id='hiring_manager_name-input'
          placeholder=''
        />
      </div>
   </div>
  <!-- Hiring Manager Email --> 
  <div class='col-md-4 col-sm-6 col-xs-12'>
    <div class='form-group text-center'>
      <label for='hiring_manager_email'>Email</label>
      <input
        type='email'
        class='form-control'
        id='email-input'
        placeholder='Email'
      />
    </div>
  </div>
  <!-- Hiring Manager Phone # --> 
   <div class='col-md-4 col-sm-6 col-xs-12'>
      <div class='form-group text-center'>
        <label for='phone_number'>Phone #</label>
        <input
          type='text'
          class='form-control'
          id='hiring_manager_phone_number-input'
          placeholder='(###)-###-####'
        />
      </div>
   </div>
  </div>  
  <h4 class='text-center mt-4 mb-4'> Interviews </h4>
  <div class='row'> 
      <!-- Interview 1st Date Input -->
       <div class='col-md-3 col-sm-6 col-xs-12'>
          <form method='post'>
            <div class='form-group text-center'>
              <label class='control-label' for='date'>1st</label>
              <input class='form-control' id='1st_date' name='date' placeholder='MM/DD/YYYY' type='text'/>
            </div>
          </form>
       </div>
      <!-- Interview 2nd Date Input --> 
      <div class='col-md-3 col-sm-6 col-xs-12'>
          <form method='post'>
            <div class='form-group text-center'>
              <label class='control-label' for='date'>2nd</label>
              <input class='form-control' id='2nd_date' name='date' placeholder='MM/DD/YYYY' type='text'/>
            </div>
          </form>
       </div>
       <!-- Interview 3rd Date Input -->
        <div class='col-md-3 col-sm-6 col-xs-12'>
          <form method='post'>
            <div class='form-group text-center'>
              <label class='control-label' for='date'>3rd</label>
              <input class='form-control' id='3rd_date' name='date' placeholder='MM/DD/YYYY' type='text'/>
            </div>
          </form>
        </div>
      <!-- Interview 4th Date Input -->
      <div class='col-md-3 col-sm-6 col-xs-12'>
        <form method='post'>
          <div class='form-group text-center'>
            <label class='control-label' for='date'>4th</label>
            <input class='form-control' id='4th_date' name='date' placeholder='MM/DD/YYYY' type='text'/>
          </div>
        </form>
      </div>
    </div>
    <div class='row mt-5 mb-5 d-flex justify-content-center'>
      <!-- Offer Checkbox -->
      <div class='col-md-3 col-sm-6 col-xs-12'>
          <input class='form-check-input' type='checkbox' value='' id='offer_check'/>
          <label class='form-check-label' for='offer_check'>
            Offer
          </label>
      </div>
      <!-- Acceptance Checkbox --> 
      <div class='col-md-3 col-sm-6 col-xs-12'>
          <input class='form-check-input' type='checkbox' value='' id='acceptance_check'/>
          <label class='form-check-label' for='acceptance_check'>
            Accepted
          </label>
      </div>
      <div class='col-md-3 col-sm-6 col-xs-12'>
        <button type='submit' class='btn btn-primary'>Submit Application</button>
      </div>
    </div>
  </div>
</div>