<!-- Login InputFields-->
<div class = "row mt-5 d-flex justify-content-center">
  <div class='col-md-4 center-block'>
    <h3 class ="text-center">Login</h2>
    <form class='login text-center'>
      <div class='form-group'>
        <label for='login_email'>Email address</label>
        <input
          type='email'
          class='form-control'
          id='email-input'
          placeholder='Email'
        />
      </div>
      <div class='form-group '>
        <label for='login_password'>Password</label>
        <input
          type='password'
          class='form-control'
          id='password-input'
          placeholder='Password'
        />
      </div>
      <button type='submit' class='btn btn-default'>Login</button>
    </form>
  </div>
</div>
<!-- Signup InputFields-->
<div class="row mt-5 mb-5 d-flex justify-content-center"> 
  <div class='col-md-4 center-block '>
    <h3 class="text-center">Signup</h2>
    <form class='signup text-center'>
      <div class='form-group'>
        <label for='signup_email'>Email address</label>
        <input
          type='email'
          class='form-control'
          id='email-input'
          placeholder='Email'
        />
      </div>
      <div class='form-group'>
        <label for='signup_password'>Password</label>
        <input
          type='password'
          class='form-control'
          id='password-input'
          placeholder='Password'
        />
      </div>
      <button type='submit' class='btn btn-default'>Sign Up</button>
    </form>
  </div>
</div>