<!-- stored user resumes with ability to edit or delete entries.-->
{{#if resumes.length}}
  <div class='container'>
    <h2 class='border-bottom pb-2 text-center'>Saved Resumes</h2>
    <div class='row d-flex justify-content-center'>
      {{#each resumes as |resume|}}
        <div
          class='card border-secondary m-3 text-center col-md-4 col-lg-3'
          id='spawnedCards'
        >
          <div class='card-body border-bottom'>
            <div class='card-title border-bottom'>
              <h4 id='resume_name'>{{resume.name}}</h4>
            </div>
            <p
              class='card-text'
              id='resume_description'
            >{{resume.description}}</p>
          </div>
          <div class='btn-group justify-content-center'>
            <div class='py-2 p-2' id='card-footer'>
              <a
                id='saveResume'
                href=''
                data-id={{resume.id}}
                class='btn btn-primary btn-sm'
              >Edit</a>
            </div>
            <div class='py-2 p-2' id='card-footer'>
              <a
                id='deleteResume'
                href=''
                data-id={{resume.id}}
                class='btn btn-success btn-sm'
              >Delete</a>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
{{/if}}

<!-- Add a new user resume -->
<button
  onclick="location.href='/resume_submission'"
  type='button'
  class='btn-primary mt-2 mb-2'
>
  Add a Resume
</button>